<mat-expansion-panel>
    <mat-expansion-panel-header class="custom-header">


        <div class="grid-container">
<div id="div_1">1</div>
<div id="div_2">Checkpoint</div>
<div>3</div>
<div>4</div>
<div>5</div>
<div>6</div>
          </div>
    </mat-expansion-panel-header>
    
    <div class="grid-container">
        <div id="div_3">1</div>
        <div id="div_4">2</div>
        <div id="div_5">3</div>
        <div id="div_6">4</div>
        <div id="div_7">5</div>
                  </div>
    
  </mat-expansion-panel>
  <!-- 2nd -->
  <mat-expansion-panel>
    <mat-expansion-panel-header class="custom-header">


        <div class="grid-container">
<div id="div_1">1</div>
<div id="div_2">2</div>
<div>3</div>
<div>4</div>
<div>5</div>
<div>6</div>
          </div>
    </mat-expansion-panel-header>
    
    <div class="grid-container">
        <div id="div_3">1</div>
        <div id="div_4">2</div>
        <div id="div_5">3</div>
        <div id="div_6">4</div>
        <div id="div_7">5</div>
                  </div>
    
  </mat-expansion-panel>
  <!-- 3rd -->
  <mat-expansion-panel>
    <mat-expansion-panel-header class="custom-header">


        <div class="grid-container">
<div id="div_1">1</div>
<div id="div_2">2</div>
<div>3</div>
<div>4</div>
<div>5</div>
<div>6</div>
          </div>
    </mat-expansion-panel-header>
    
    <div class="grid-container">
        <div id="div_3">1</div>
        <div id="div_4">2</div>
        <div id="div_5">3</div>
        <div id="div_6">4</div>
        <div id="div_7">5</div>
                  </div>
    
  </mat-expansion-panel>
  
  